* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face{
  font-family: 'MerriweatherBold';
  src: url('/fonts/Merriweather-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather-Regular';
  src: url('/fonts/Merriweather-Bold.ttf') format('truetype')
}
body {
  background-color:#ffffff;
  margin: 0;
  padding: 0;
  font-family: Merriweather-Regular;
  font-size: 3.2rem;
  color: #000000;
}
p{
  font-size: 2.2rem;
}

.container {
  width: 80%;
  margin : auto;
}

/****HEADER****/

header {
  display: flex;
  align-items: center;
  background-color: #faebd7;
  justify-content: space-around;
  border-bottom: 0.1em solid  #422800;
  position : fixed;
}
.logo-right{
  height: 7%;
  width: 7%;
  margin: 2%
}
.logo-left{
  height: 7%;
  width: 7%;
  margin :2%
}
.nav-header {
  display: flex;
}

.nav-li {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

a{
  text-decoration: none;
  color: #422800;
}
a:active {
 color:#422800;
}
ul {
  padding-inline-start: 3em;
  padding-inline-end: 1em;
}
ul.nav-li{
  flex-wrap: wrap;
  justify-content: center ;
}
/* SLIDE*/
.carrousel{
  background-color: antiquewhite;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.1em solid  #422800;
    padding-top: 15%;
}
.custom-slider { display: none; }
.slide-container {
  border: 4px #422800 solid;
  min-width: 80%;
  height: 306px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-vid{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    background-image: url(../img/icons/d10.png);
    background-size: 100%;
    border-radius: 10%;
    height: 60px;
    width: 60px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover { background-image: url(../img/icons/d4.png);}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 1}
    to {opacity: 0}
}
/* BUTTON SLIDER */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-size: 37px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
/*button easter-egg*/
.demo__button {
  background-color: #0088ff00;
    color: #ffffff00;
    border: none;
    cursor: none;
}

/*section agenda*/
.agenda{
  background-color:#fbeee0;
  display: flex;
  padding: 2% 2%;
}
.infos{
  background-color:#fbeee0;
  display: flex;
  padding: 2% 2%;
  text-align: justify;
  margin:2%;
}
